@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';



h1 {
	font-size: var(--font-size-7);
	max-inline-size: 20ch;
}

h2 {
	max-inline-size: 20ch;
}

h3 {
	font-size: var(--font-size-4)
}

p,
blockquote,
li {
	font-size: 14px;
}

select {
	background-color: var(--surface-2)
}

@media (prefers-color-scheme: dark) {
	html {
			--surface-1: #181818;
			--surface-2: #222;
		}
}
